@font-face {
    font-family: 'Bebas Neue W01';
    src: url('d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Bebas Neue W01', sans-serif;
}


/*header*/

.header__preview {
    display: flex;
    justify-content: space-between;
    max-width: 936px;
    margin: auto;
    padding: 20px 0;
}

.header__logo {
    font-family: 'Lobster', cursive;
    color: #3cc3b5;
    font-size: 49px;
    font-weight: 400;
}

.header__search {
    width: 434px;
    height: 31px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #e1e1e1;
    margin: 10px 0;
    outline: 0;
    letter-spacing: 0.8px;
    background: url('../img/search-icon.png') no-repeat 98% 50%;
}

.header__basket {
    display: flex;
    justify-content: space-between;
    width: 107px;
}

.header__basket-img {
    background: url('../img/basket.png') no-repeat center;
    height: 37px;
    width: 41px;
}

.header__basket-price {
    color: #a1a1a1;
    font-size: 33px;
    font-weight: 400;
}

.menu {
    position: absolute;
    top: 15px;
    left: 15px;
    display: none;
}

.menu__line {
    background-color: #4ccfc1;
    height: 3px;
    width: 35px;
    margin-bottom: 6px;
}

.header__slider {
    background-color: #4ccfc1;
}

.header__menu {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
}

.header__nav {
    display: flex;
    max-width: 986px;
    margin: auto;
    padding: 7px 0;
}

.nav__link {
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

.nav__link:not(:last-child) {
    margin-right: 42px;
}

.nav__link:not(:last-child):after {
    content: '|';
    position: absolute;
    right: -30px;
}

.popular-goods {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 67px;
    padding-bottom: 30px;
}

.popular-goods__img {
    background: url('../img/main-t-shirt.png') no-repeat center;
    height: 325px;
    width: 278px;
    margin-right: 101px;
}

.popular-goods__description {
    width: 400px;
}

.popular-goods__title {
    color: #ffffff;
    font-size: 61px;
    font-weight: 400;
    line-height: 54px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.popular-goods__paragraph {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    margin-bottom: 27px;
}

.btn {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.popular-goods__btn {
    font-size: 27px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    height: 46px;
    width: 133px;
    line-height: 47px;
    margin-bottom: 48px;
}

.switcher {
    display: flex;
    justify-content: space-between;
    width: 96px;
}

.switcher__item {
    background: url('../img/switcher-item.png') no-repeat center;
    height: 9px;
    width: 9px;
}

.switcher__item_active {
    background: url('../img/switcher-item-active.png') no-repeat center;
}


/*main*/

.slider-wrap {
    max-width: 988px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider {
    height: 144px;
}

.slider__item {
    display: flex;
    justify-content: center;
    margin-right: 85px;
}

.slider__item:last-child {
    margin-right: 0;
}

.slider__container {
    display: flex;
    height: 100%;
    position: absolute;
    transition: 0.7s;
    margin: 0 63px;
    left: 0;
}

.slider__slide {
    display: flex;
    margin-right: 85px;
}

.arrow {
    width: 35px;
    height: 35px;
    border: 3px solid #cccccc;
    border-top: none;
    border-right: none;
    position: absolute;
    top: 55px;
}

.arrow_prev {
    transform: rotate(45deg);
    left: 7px;
}

.arrow_next {
    transform: rotate(-135deg);
    right: 7px;
}

.slider__img {
    margin-right: 20px;
    width: 132px;
}

.slider__img_number_1 {
    background: url('../img/shoes.png') no-repeat center;
}

.slider__img_number_2 {
    background: url('../img/T-shirt.png') no-repeat center;
}

.slider__img_number_3 {
    background: url('../img/trousers.png') no-repeat center;
}

.product-title {
    color: #afafaf;
    font-size: 27px;
    font-weight: 400;
}

.slider__title {
    line-height: 25px;
    margin-bottom: 20px;
}

.slider__btn {
    height: 14px;
    width: 30px;
    background-color: #3cc395;
    padding: 9px 15px;
    line-height: 16px;
    border-radius: 3px;
}

.title {
    background-color: #3cc395;
    color: #ffffff;
    font-size: 31px;
    font-weight: 400;
    padding: 24px 0;
    margin: 0;
    text-align: center;
}

.feature-products {
    display: flex;
    max-width: 875px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 26px;
    margin: auto;
}

.feature-products__item {
    width: 253px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    padding-top: 21px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-bottom: 5px solid #3cc395;
    margin-bottom: 47px;
}

.feature-products__item:not(:nth-child(3n+3)) {
    margin-right: 54px;
}

.product-title_justify_center {
    margin: 0;
    margin-bottom: 12px;
    text-align: center;
}

.feature-products__img {
    margin: auto;
    margin-bottom: 9px;
}

.product-price {
    color: #afafaf;
    font-size: 27px;
    font-weight: 400;
}

.feature-products__img_number_1 {
    background: url('../img/featured-shoe.png') no-repeat center;
    height: 126px;
    width: 189px;
}

.feature-products__img_number_2 {
    background: url('../img/T-shirt-dark-blue.png') no-repeat center;
    height: 116px;
    width: 116px;
}

.feature-products__img_number_3 {
    background: url('../img/featured-products-grey-t-shirt.png') no-repeat center;
    height: 118px;
    width: 105px;
}

.feature-products__img_number_4 {
    background: url('../img/featured-wallet.png') no-repeat center;
    height: 131px;
    width: 175px;
}

.feature-products__img_number_5 {
    background: url('../img/featured-handbag.png') no-repeat center;
    height: 126px;
    width: 140px;
}

.feature-products__img_number_6 {
    background: url('../img/featured-trousers.png') no-repeat center;
    height: 119px;
    width: 66px;
}

.feature-products__btn {
    height: 31px;
    width: 74px;
    font-size: 20px;
    background-color: #3cc395;
    line-height: 31px;
    border-radius: 5px;
}

.price {
    display: flex;
    justify-content: space-between;
    width: 126px;
    margin: auto;
}


/*footer*/

.footer {
    background-color: #3cc3b5;
    padding-top: 42px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 42px;
    margin: auto;
}

.links__item:not(:last-child) {
    margin-right: 110px;
}

.links__title {
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 27px;
}

.links__link {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    text-transform: capitalize;
}

.links__link:hover {
    transition: 0.3s;
    text-decoration: underline;
}

.footer__copyright {
    padding-top: 42px;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    display: inline-block;
    margin: auto;
    background-color: #2da89b;
    font-family: "Open Sans";
    color: #ffffff;
    font-weight: 400;
}